# Token ใช้ได้ 1 ตัวก็พอ (ลำดับความสำคัญ: DISCORD_TOKEN > DISCORD_BOT_TOKEN > BOT_TOKEN)
DISCORD_TOKEN==MTQ5OTc2NDUwNTMwMTg3Njk0OA.GkeBi5.b1wtEZGmEFyGwq6pfd8fWQAHsPLRYZ30UMN3Wk
# DISCORD_BOT_TOKEN=
# BOT_TOKEN=

# development | staging | production
APP_ENV=development

# true/false เปิด sync slash command อัตโนมัติ
AUTO_SYNC_COMMANDS=true

# path โฟลเดอร์เก็บ assignments.json และ users.json
BOT_DATA_DIR=./
